canvas {
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 280px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}

/* -------------------- BODY  ------------- */ 
.body_container {
  background: rgb(169, 225, 238);
  height: 100vh;
  margin: 20px;
  border-radius: 30px;
}
/* -------------------- HEADER ------------- */ 
.heading_container {
  /* border: hotpink 1px solid; */
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 10px;
  max-width: 900px;
  min-width: 700px;
}
.title {
  /* border: rgb(147, 226, 43) solid 1px; */
  padding: 1px;
  height: 120px;
}
 h1 {
  /* border: blueviolet solid 1px; */
  font-family: new-spirit-condensed, serif;
  font-weight: 700;
  height: auto;
  font-size: 450%;
  line-height: 58px;
  overflow: visible;
  padding-bottom: 10px;  
  background-image: linear-gradient(45deg, #282fee, #ee1212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
 }
.description {
  /* border: greenyellow 1px solid; */
  font-family: new-spirit, serif;
  font-weight: 400;
  font-size: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

}
p {
  padding-left: 3px;
  padding-right: 10px;
  flex-grow: 2;
}
/* -------------------- BUTTON ------------- */ 
.container_button {
  max-width: 200px;
}
button {
  background: transparent;
  width: 150px;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* border: orangered 1px solid; */
}
img {
  width: 98%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
   transition: transform .8s ease-in-out;
   flex-grow: 1;
  /* border: orchid solid 1px; */
}
img:hover {
  -webkit-transform: rotate(20deg);
   transform: rotate(20deg);   
}
@media (max-width: 971px) {
  .title {
    height: 160px;
  }
  canvas {
    top: 320px;
}
}
